.content {
    //background-color: var(--color-drinks);
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 900px) {
        grid-template-columns: 1fr;
    }

    &-imgBox {

        &__img {
            max-width: 100%;
            height: 100%;
        }
    }

    &-textBox {
        /* width: 50%; */
        /* margin: auto 20rem; */
        padding: 0 2rem;
        text-align: center;
        color: #1E3932;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        gap: 2.75rem;

        &__text {
            font-size: 5rem;
            font-weight: 800;

            &--small {
                font-size: 1.6rem;
            }
        }

        p {
            font-size: 2rem;
        }

        @media (max-width: 900px) {
            //padding: 2rem;
        }

        @media (max-width: 1030px) {
            padding: 2rem;
        }
    }
}