.header {
    font-size: 1.4rem;
    letter-spacing: .15rem;
    font-weight: 800;
    height: 7rem;
    padding: 5rem 4rem;
    //border-bottom: .1rem solid rgba(0, 0, 0, 0.356);
    box-shadow: 0 .1rem .3rem rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);

    display: flex;
    align-items: center;

    &__img {
        width: 5rem;
        height: 5rem;
        cursor: pointer;

        @media (max-width: 768px) {
            margin-right: auto;
        }
    }

    &__list {
        display: flex;
        gap: 2rem;

        &--menu {
            margin-left: 3.75rem;
            margin-right: auto;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__item, 
    &__item:link, 
    &__item:visited {
        text-decoration: none;
        text-transform: uppercase;
        color: #000;

        &:hover,
        &:active {
            color: var(--color-primary);
        }
    }

    &__marker {
        width: 2rem;
        height: 2rem;
    }

    &__item--store {
        display: flex;
        align-items: center;
        gap: .8rem;
        
        span {
            font-weight: bold;
            letter-spacing: 0;
            text-transform: none;
        }
    }
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative;
    background: none;
    border: none;
    z-index: 10;
    transition: all 0.25s;
    display: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}
  
.open .hamburger-middle {
    display: none;
}
  
.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

@media (max-width: 768px) {
    .hamburger {
      display: block;
    }
}